mixin popup-two-column()
  section.popup-two-column.compets-popup-two-column
    button.popup-two-column__close-button.compets-popup-two-column__close-button(type="button") Закрыть
    .container.popup-two-column__container.compets-popup-two-column__container 
      .popup-two-column__column.compets-popup-two-column__column
        //- либо в php, либо pltcm с помощью js должно быть обновление контента в поп-ап окне c привязкой к тому элементу, по которому кликнули.
        p.h4.popup-two-column__title.compets-popup-two-column__title Характеристики
        ul.popup-two-column__list.compets-popup-two-column__list
          li.text_16.popup-two-column__text.compets-popup-two-column__text Широкий диапазон длин волн;
          li.text_16.popup-two-column__text.compets-popup-two-column__text Разнообразие съемочной аппаратуры;
          li.text_16.popup-two-column__text.compets-popup-two-column__text Наземные, авиационные и космические платформы;
          li.text_16.popup-two-column__text.compets-popup-two-column__text Высокоразрешающие изображения;
          li.text_16.popup-two-column__text.compets-popup-two-column__text Возможность дистанционного зондирования.
      .popup-two-column__column.compets-popup-two-column__column 
        p.h4.popup-two-column__title.compets-popup-two-column__title Преимущества:
        ul.popup-two-column__list.compets-popup-two-column__list
          li.text_16.popup-two-column__text.compets-popup-two-column__text Высокая точность наблюдения;
          li.text_16.popup-two-column__text.compets-popup-two-column__text Возможность мониторинга различных природных и антропогенных объектов;
          li.text_16.popup-two-column__text.compets-popup-two-column__text Быстрое получение и обработка данных;
          li.text_16.popup-two-column__text.compets-popup-two-column__text Доступность в разных погодных условиях;
          li.text_16.popup-two-column__text.compets-popup-two-column__text Возможность непрерывного мониторинга для отслеживания изменений во времени.